.container{
  padding: 30px;
   
   max-width: 300px;
    background-color: whitesmoke;
   
}
.buttonPanel{
    display: flex;
    gap: 4px;
    margin-top: 20px;
}
#textbox{
    border: 1px solid black;
}
.colList{
    background-color: yellow;
    max-width: 150px;
}

.btn1{
    border: 2px solid black;
}


.main{
display: flex;
align-items: center;
justify-content: center;
height: 90vh;
}
body{
    background-color: grey;
}